.player__container {
	max-width: 1150px;
}

.player__top {
	border-bottom: 1px solid rgba(255, 255, 255, 0.489);
	height: 520px;
}

.player_name {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
}

.player_num {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.4;
}

.player__desc {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.6;
}

.player__link {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.4;
}

.player__bottom {
	width: 610px;
}

.player-btn {
	height: 40px;
	background-color: #FF0000;
	border-radius: 20px;
	padding: 10px 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
}

.player__title {
	margin: 0;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	color: #FFFFFF;
}

.player__auto {
	padding-top: 15px;
	text-decoration: none;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.player__heading {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 8px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 25px;
	color: #FFFFFF;
}

.player__spans {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #C2C2C2;
	mix-blend-mode: normal;
	opacity: 0.4;
}